{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container">
    <h1>Change Password</h1>
    <p>Changing password for user: {{ user.username }}</p>
    <form method="POST">
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" name="new_password" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>
{% endblock %}
