{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Reset Password</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <!-- Flash messages -->
        {% for category, message in messages %}
            <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('reset_password') }}" style="max-width: 300px; margin: 0 auto;">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
{% endblock %}
